<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Citispotter - Business</title>
  </head>
  <body>
    <div class = "container">
    <h1>News Analysis</h1>
    <h5>Enter the text from any News Article</h5>
    <f3>The Federal Reserve’s research staff is far less diverse than the American population it is meant to serve, a reality that the central bank is trying to change as a reckoning over inclusion sweeps through the economics profession.

Three in four Fed economists are men and a majority of those are white. That matters beyond optics: Varied backgrounds can help the Fed better understand the people its policies are meant to help, from working mothers to the underemployed.

The Fed’s lack of diversity is not atypical in economics. Fewer women and minorities express interest in and complete degrees in the field. About 32 percent of economics Ph.D.s awarded in 2018 were to women, based on one survey, a share that has hardly budged over the past two decades.

But a few years ago, officials at the Fed Board in Washington realized that entry-level hiring criteria were exacerbating the lack of diversity early in the Fed’s hiring pipeline.
    </f3>
    <f4><button type="button" class="btn btn-primary">Analyse</button></f4>
    <f4><button type="button" class="btn btn-light">Copy</button></f4>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </div>
  </body>
</html>